    <Levies key="Westerlands_Marbrand_MAA_Billmen" percentage="25" max="LEVY" />
    <Levies key="Reach_Tyrell_Guard_Spearmen" percentage="25" max="LEVY" />
    <Levies key="Crownlands_Velaryon_MAA_Swordsmen" percentage="50" max="LEVY" />
    <Levies key="Dorne_Dayne_MAA_Longbowmen" percentage="100" max="LEVY" />
